{% comment %}
  Renders a filter button

  Usage:
  {% render 'filter-button', title: 'Filter', id: '123', url: 'https://www.google.com' %}
{% endcomment %}

{% if title and url %}
  <div data-hover-shake="small">
    <a
      href="{{ url }}"
      target="_self"
      class="filter-button type-p {% if request.path contains url %} filter-button--active{% endif %}"
      role="button"
      aria-pressed="{% if request.path contains url %}true{% else %}false{% endif %}"
      aria-label="Filter by {{ title }}"
    >
      {{- title -}}
      s
    </a>
  </div>
{% endif %}
