{% comment %}
  Renders a filter button

  Usage:
  {% render 'filter-button', title: 'Filter', id: '123', url: 'https://www.google.com' %}
{% endcomment %}

{{ 'filter-button.css' | asset_url | stylesheet_tag }}

<span class="filter-button type-p{% if request.path contains url %} filter-button--active{% endif %}">{{ title }}</span>
