<div class="footer-links footer-links--stores">
  <h2 class="footer-links__title type-h6">{{ title }}</h2>
  <nav aria-label="Store locations">
    <ul role="list" class="footer-address-list">
      <li class="footer-links__item">
        <h3 class="type-h6">Miami (HQ)</h3>
        <address class="footer-links__address type-p-small">
          <p class="type-p-small">2214 NW 1st Pl, Miami</p>
          <a class="type-p-small" href="tel:+13057210284" aria-label="Call our Miami headquarters">+1 (305) 721-0284</a>
        </address>
      </li>
      <li class="footer-links__item">
        <h3 class="type-h6">Chicago</h3>
        <address class="footer-links__address type-p-small">
          <p class="type-p-small">1001 N Winchester Ave</p>
          <a class="type-p-small" href="tel:+13057210284" aria-label="Call our Chicago location">+1 (305) 721-0284</a>
        </address>
      </li>
      <li class="footer-links__item">
        <h3 class="type-h6">Atlanta Lab</h3>
        <address class="footer-links__address type-p-small">
          <p class="type-p-small">2214 NW 1st Pl, Miami</p>
          <a class="type-p-small" href="tel:+13057210284" aria-label="Call our Atlanta lab">+1 (305) 721-0284</a>
        </address>
      </li>
      <li class="footer-links__item">
        <h3 class="type-h6">Orlando</h3>
        <address class="footer-links__address type-p-small">
          <p class="type-p-small">2214 NW 1st Pl, Miami</p>
          <a class="type-p-small" href="tel:+13057210284" aria-label="Call our Orlando location">+1 (305) 721-0284</a>
        </address>
      </li>
    </ul>
  </nav>
</div>
