<div class="footer-links footer-links--stores">
  <h2 class="footer-links__title type-h6">{{ title }}</h2>
  <nav aria-label="Store locations">
    <ul role="list" class="footer-address-list">
      <li class="footer-links__item">
        <h3 class="type-p-small">Miami (HQ)</h3>
        <div class="footer-links__address type-p-small">
          <a
            href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x88d9b6b1d8772e43:0x39645be5459ca515?sa=X&ved=1t:8290&ictx=111"
            target="_blank"
            rel="noopener"
            class="type-p-small"
            >2051 NW 2nd Ave, Miami, FL 33127</a
          >
          <a class="type-p-small" href="tel:+13054564006" aria-label="Call our Miami headquarters">+1 305-456-4006</a>
        </div>
      </li>
      <li class="footer-links__item">
        <h3 class="type-p-small">Chicago</h3>
        <div class="footer-links__address type-p-small">
          <a
            href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x880fd3b66f626319:0xfa76adf078f918fd?sa=X&ved=1t:8290&ictx=111"
            target="_blank"
            rel="noopener"
            class="type-p-small"
            >1359 N Milwaukee Ave, Chicago, IL 60622</a
          >
          <a class="type-p-small" href="tel:+17739047434" aria-label="Call our Chicago location">+1 773-904-7434</a>
        </div>
      </li>
      <li class="footer-links__item">
        <h3 class="type-p-small">Atlanta Lab</h3>
        <div class="footer-links__address type-p-small">
          <a
            href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x88f50715fee5009f:0xff23412235d11cc2?sa=X&ved=1t:8290&ictx=111"
            target="_blank"
            rel="noopener"
            class="type-p-small"
            >1140 Euclid Ave NE, Atlanta, GA 30307</a
          >
          <a class="type-p-small" href="tel:+14049074191" aria-label="Call our Atlanta lab">+1 404-907-4191</a>
        </div>
      </li>
      <li class="footer-links__item">
        <h3 class="type-p-small">Orlando</h3>
        <div class="footer-links__address type-p-small">
          <a
            href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x88e77bdcc220c33d:0xa9d17f8696e2026f?sa=X&ved=1t:8290&ictx=111"
            target="_blank"
            rel="noopener"
            class="type-p-small"
            >2426 E Robinson St, Orlando, FL 32803</a
          >
          <a class="type-p-small" href="tel:+14077041100" aria-label="Call our Orlando location">+1 407-704-1100</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
