<div class="footer-links">
  <h6 class="footer-links__title">{{ title }}</h6>
  <nav aria-label="{{ title }} navigation">
    <ul role="list" class="footer-links__list">
      {% for link in links %}
        <li class="footer-links__item type-h6">
          <a
            class="type-h6 hover-blinking"
            href="{{ link.url }}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
