<div class="next-steps-product-info">
  <div class="next-steps-product-info-content-price">
    <p class="next-steps-product-info-content-price__label type-p-small">$XXX USD</p>
  </div>
  <div class="next-steps-product-info-content">
    <div class="next-steps-product-info-image">
      <div class="next-steps-product-info-image__content">Development + Scanning</div>
      <div class="next-steps-product-info-image__content next-steps-product-info-image__content--overlay">
        Development + Scanning
      </div>
      <img
        src="https://cdn.shopify.com/s/files/1/0776/3129/1647/files/clouds.jpg?v=1760608440"
        class="next-steps-product-info-image__image"
        alt="Development + Scanning"
        width="100%"
        height="100%"
      >
    </div>
    <div class="next-steps-product-info-content__inner">
      <div class="next-steps-product-info-content__title-wrapper">
        <p class="next-steps-product-info-content__title type-button-large">Process here</p>
        <p class="next-steps-product-info-content__subtitle type-button-large">Location here</p>
      </div>
      <div class="next-steps-product-info-content__features-list">
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Number of rolls:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Scanner:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Resolution:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Contact Sheet PDF:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Archival sleeves:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
        <div class="next-steps-product-info-content__feature">
          <p class="next-steps-product-info-content__feature-label type-p-small">Prints:</p>
          <p class="next-steps-product-info-content__feature-value type-p-small">XXX</p>
        </div>
      </div>
    </div>
  </div>
  <div class="next-steps-product-info-button">
    <button class="primary-button primary-button--black">Download Print Slip </button>
  </div>
</div>
