{{ 'collection.css' | asset_url | stylesheet_tag }}

<section class="featured-collection">
  <div class="layout-wrapper">
    <div class="featured-collection__header">
      <h2 class="featured-collection__heading type-h1-large">{{ section.settings.heading }}</h2>
      <div class="collection-filters">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection %}
            <a href="{{ collection.url }}" target="_self">
              {% render 'filter-button', title: collection.title, id: collection.id, url: collection.url %}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="collection-list layout-grid layout-wrapper">
    {% for product in collections.frontpage.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop Products"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Homepage",
      "blocks": []
    }
  ]
}
{% endschema %}
