{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="layout-grid">
    {% render 'footer-links-list', title: 'Quick Links', links: section.settings.menu.links %}
    {% render 'footer-links-list', title: 'Customer Care', links: section.settings['second-menu'].links %}
    {% render 'footer-stores-list', title: 'Stores', links: section.settings['third-menu'].links %}
    <div class="footer-newsletter">
      <p>Join our newsletter</p>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__top-bar">
        <div class="footer-credits">
          <a href="https://bienstudio.com.au" target="_blank" class="type-h6 hover-blinking"
            >Bien Studio <sup>Design</sup></a
          >
          <a href="https://tayte.co" target="_blank" class="type-h6 hover-blinking">Tayte.co <sup>Dev</sup></a>
        </div>
        <button class="footer-top-button type-h6 hover-blinking">Back to Top ▲</button>
      </div>
      {% render 'footer-logo' %}
    </div>
  </div>
  <div class="footer-image-wrapper">
    <img
      src="{{ section.settings.photo | image_url }}"
      width="auto"
      height="auto"
    >
  </div>
</footer>

<script>
  document.querySelector('.footer-top-button').addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  });
</script>

{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "second-menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "photo",
      "label": "Floating image"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
