<div class="template-404 page-width page-margin center">
  <div class="layout-wrapper">
    <section class="template-404__header">
      <h2
        id="template-404-heading"
        class="template-404__heading type-h1-large"
      >
        {{ 'templates.404.subtext' | t }}
      </h2>
      <p class="type-h2">
        {{ 'templates.404.title' | t }}
      </p>

      <div>
        <a href="{{ routes.root_url }}" class="primary-button"> Go back home </a>
      </div>
    </section>
  </div>
</div>
