.featured-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;

  @media (max-width: 768px) {
    gap: 4rem;
  }
}

.featured-collection .layout-grid, .collection .layout-grid {
  row-gap: 4rem;

  @media (max-width: 768px) {
    row-gap: 3rem;
  }
}

.featured-collection__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured-collection__heading {
  text-align: center;
}

.collection-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    gap: 0.125rem;
    row-gap: 0.25rem;
  }
}