cart-items .title-wrapper-with-link {
  margin-top: 0;
}

.cart-card__inner {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-items th,
.cart-items td {
  word-break: break-word;
}

.cart-item__quantity-wrapper {
  display: flex;
}

.cart-items *.right {
  text-align: right;
}

.cart-card__content {
  padding: 12px 0;
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.cart-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

.cart-item__image--foreground {
  width: 60%;
  max-height: 80%;
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.6rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__vendor {
  opacity: 0.4;
}

.cart-item__name {
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.cart-item__name:hover {
  opacity: 0.5;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

/* Row loading state */
.cart-item.is-loading .cart-item__price-wrapper,
.cart-item.is-loading .price {
  opacity: 0.25;
  transition: opacity var(--transition-speed-default) var(--transition-ease);
}

.cart-item {
  display: flex;
  margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item {
    width: 4.5rem;
    height: 4.5rem;
  }
}

cart-remove-button button {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: underline;
  color: var(--color-black);

  transition: all var(--transition-speed-default) var(--transition-ease);
}

cart-remove-button:hover button {
  color: var(--color-red);
}

.cart-item .loading__spinner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(2px);
  border-radius: 0.5rem;
  z-index: 1;
}

.cart-item .loading__spinner.hidden {
  display: none !important;
}

.cart-item .loading__spinner svg {
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (min-width: 750px) {
  .cart-item .loading__spinner {
    right: 0;
    padding-top: 4.5rem;
    bottom: auto;
  }
}

.cart-item__discounted-prices,
.cart-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 8px;
}

.price--end {
  margin: 0 !important;
}

.cart-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: auto;
}

.cart-item .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  width: min-content;
  min-width: 100%;
}

.cart-item__error-text {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.04rem;
  order: 1;
}

.cart-item__error-text + .svg-wrapper {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-top: 0.25rem;
}

.cart-item__error-text:empty + .svg-wrapper {
  display: none;
}

.cart-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: 4rem;
  }

  .cart-items__heading--quantity {
    display: none !important;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 1 / -1;
  }

  .cart-item__quantity-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .cart-item__quantity-wrapper quantity-input {
    order: 1;
  }

  .cart-item__quantity-wrapper cart-remove-button {
    order: 2;
  }

  .cart-item__details,
  .cart-item__quantity,
  .cart-item__totals {
    min-width: 0;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: top;
    padding-top: 4rem;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__details {
    width: 35rem;
  }

  .cart-item__media {
    width: 215px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-item__error {
    margin-left: 0.3rem;
  }
}

@media screen and (min-width: 990px) {
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}

@media screen and (min-width: 750px) {
  .cart-items .cart-items__heading--quantity,
  .cart-item__quantity--info quantity-popover > * {
    padding-left: 5rem;
  }

  .cart-item .cart-item__quantity--info,
  .cart-item__quantity--info .cart-item__quantity-wrapper,
  .cart-item__quantity--info .cart-items__info {
    padding-left: 0;
  }
}

@media screen and (max-width: 989px) {
  .cart-items .quantity-popover__info-button {
    padding-left: 0;
  }
}
