cart-items .title-wrapper-with-link {
  margin-top: 0;
}

.cart-card__inner {
  display: flex;
  gap: 16px;
  align-items: stretch;
  width: 100%;
}

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-items th,
.cart-items td {
  word-break: break-word;
}

.cart-item__quantity-wrapper {
  display: flex;
}

.cart-items *.right {
  text-align: right;
}

.cart-card__content {
  padding: 12px 0;
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  @media (max-width: 768px) {
    top: unset;
    right: unset;
    bottom: 8px;
    left: 0;
  }
}

.cart-remove-button a:hover {
  color: var(--color-red);
}

.cart-item {
  display: flex;
  width: 100%;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  height: 100%;
  width: 100%;
}

.cart-item__image--foreground {
  width: 60%;
  height: 100%;
  max-height: 80%;
}

.cart-item__media {
  position: relative;
  width: 215px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-grey-light) !important;
  border-radius: 0.75rem;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__vendor {
  opacity: 0.4;
}

.cart-item__name {
  text-decoration: none;
  margin-bottom: 12px;
}

.cart-item__name:hover {
  opacity: 0.5;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

/* Row loading state */
.cart-item.is-loading .cart-item__price-wrapper,
.cart-item.is-loading .price {
  opacity: 0.25;
  transition: opacity var(--transition-speed-default) var(--transition-ease);
}

cart-remove-button button {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: underline;
  color: var(--color-black);

  transition: all var(--transition-speed-default) var(--transition-ease);
}

cart-remove-button:hover button {
  color: var(--color-red);
}

.cart-item .loading__spinner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(2px);
  border-radius: 0.5rem;
  z-index: 1;
}

.cart-item .loading__spinner.hidden {
  display: none !important;
}

.cart-item .loading__spinner svg {
  width: 1.25rem;
  height: 1.25rem;
}

.cart-item__discounted-prices,
.cart-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 8px;
}

.price--end {
  margin: 0 !important;
}

.cart-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: auto;
}

.cart-item .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  width: min-content;
  min-width: 100%;
}

.cart-item__error-text {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.04rem;
  order: 1;
}

.cart-item__error-text + .svg-wrapper {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-top: 0.25rem;
}

.cart-item__error-text:empty + .svg-wrapper {
  display: none;
}
