.drop-off {
  position: relative;
  z-index: 2;
  width: 100dvw;
}

.drop-off-map {
  border: solid 1px black;
  background: var(--color-grey-light);
  border-radius: 15px;
  height: 80vh;
  width: 100%;
  margin: auto;
}