.faq__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @media (max-width: 768px) {
    gap: 2rem;
  }
}

.faq__heading {
  text-align: center;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 45rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.faq-card {
  background: var(--color-grey-light);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  transition: background var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    padding: 1rem 1.25rem;
  }
}

.faq-card:hover {
  background: var(--color-grey-mid);
}

.faq-card[aria-expanded="true"] {
  background: var(--color-grey-mid);
}

.faq-card:hover .faq-card__indicator {
  background: var(--color-grey-dark);
}

.faq-card:hover .faq-card__indicator::before,
.faq-card:hover .faq-card__indicator::after {
  background: var(--color-white);
}
.faq-card__indicator {
  position: absolute;
  top: 1.125rem;
  right: 1.125rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--color-grey-mid);

  transition: background var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    top: 0.8rem;
    right: 1rem;
  }
}

.faq-card[aria-expanded="true"] .faq-card__indicator {
  background: var(--color-black);
}

.faq-card__indicator::before,
.faq-card__indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-grey-dark);
  transition: transform 0.2s ease, opacity 0.2s ease, background var(--transition-speed-default) var(--transition-ease);
}

.faq-card[aria-expanded="true"] .faq-card__indicator::before,
.faq-card[aria-expanded="true"] .faq-card__indicator::after {
  background: var(--color-white);
}

.faq-card__indicator::before { width: 0.625rem; height: 0.0625rem; }
.faq-card__indicator::after { width: 0.0625rem; height: 0.625rem; }

.faq-card[aria-expanded="true"] .faq-card__indicator::after {
  transform: translate(-50%, -50%) scaleY(0);
}

.faq-card__question {
  text-align: center;
  padding-right: 2rem;
}

.faq-card__inner {
  padding: 2rem 0 0.5rem;
}

.faq__button-wrapper {
  display: flex;
  justify-content: center;
}