.filter-button {
	padding: 10px 18px;
	background: var(--color-grey-light);
	color: var(--color-black);
	border-radius: 50px;

	transition: all var(--transition-speed-default) var(--transition-ease);

	@media (max-width: 768px) {
		padding: 8px 16px;
	}
}

.filter-button:hover {
	background: var(--color-yellow);
	color: var(--color-black);
}

.filter-button--active {
	color: var(--color-yellow);
	background: var(--color-black);
}