:root {
  --color-black: #282828;
  --color-grey-dark: #6D6D6D;
  --color-grey-mid: #EEEEEE;
  --color-grey-light: #F6F6F6;
  --color-yellow: #FFF750;
  --color-highlight: #D5F4FF;
  --color-red: #F12020;
  --color-blue: #43B1FB;
  --color-green: #81FF53;
  --color-white: #FFFFFF;

  --font-diatype-rounded-heavy: 'ABC Diatype Rounded Heavy', system-ui;
  --font-diatype-rounded-bold: 'ABC Diatype Rounded Bold', system-ui;
  --font-gt-standard-mono-light: 'GT Standard Mono Light', sans-serif;
  --font-gt-standard-mono-regular: 'GT Standard Mono Regular', sans-serif;
  --font-gt-standard-mono-medium: 'GT Standard Mono Medium', sans-serif;
  --font-tiny: 'Tiny Variable', sans-serif;

  --logo-height: 0px;
  --font-weight-header: 80;

  --desktop-breakpoint: 1200px;
  --tablet-landscape-breakpoint: 1024px;
  --tablet-portrait-breakpoint: 768px;
  --mobile-breakpoint: 480px;

  --transition-speed-default: 50ms;
  --transition-speed-fast: 50ms;
  --transition-speed-extra-fast: 0ms;
  --transition-speed-slow: 500ms;
  --transition-speed-extra-slow: 1000ms;
  --transition-ease: cubic-bezier(0.65, 0, 0.35, 1);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  background: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

main {
  position: relative;
  z-index: 1;
  background-color: var(--color-white);
  overflow: hidden;
  padding-bottom: 5rem; /* 80px */

  @media (max-width: 768px) {
    padding-bottom: 2rem;
  }
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-black);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

main {
  transition: filter var(--transition-speed-default) var(--transition-ease), opacity var(--transition-speed-default) var(--transition-ease);
}

#shop-hcaptcha-badge-container {
  display: none !important;
}

body.menu-open main, body.menu-open .header__logo {
  filter: blur(25px);
  opacity: 0.75;
}

input,
textarea,
select,
button,
label,
body {
  font-family: var(--font-diatype-rounded-bold);
  color: var(--color-black);
  line-height: normal;
}

strong,
b {
  font-weight: 900;
}

em {
  font-style: italic;
}

button {
  cursor: pointer;
}

.type-h1-large {
  font-family: var(--font-diatype-rounded-heavy);
  font-size: 5rem; /* 80px */
  line-height: 5.25rem; /* 84px */
  letter-spacing: -0.1rem; /* -1.6px */

  @media (max-width: 768px) {
    font-size: 2.75rem; /* 44px */
    line-height: 1;
    letter-spacing: -0.055rem;
  }
}

.type-h2-medium {
  font-family: var(--font-diatype-rounded-heavy);
  font-size: 3rem; /* 48px */
  line-height: 3.125rem; /* 50px */
  letter-spacing: -0.06rem; /* -0.96px */

  @media (max-width: 768px) {
    font-size: 1.875rem; /* 30px */
    line-height: 1;
    letter-spacing: -0.0375rem; /* -0.6px */
  }
}

h1,
.type-h1-small {
  font-family: var(--font-diatype-rounded-heavy);
  font-size: 2.5rem; /* 40px */
  line-height: 2.375rem; /* 38px */
  letter-spacing: -0.025rem; /* -0.4px */

  @media (max-width: 768px) {
    font-size: 1.75rem; /* 28px */
    line-height: 1;
    letter-spacing: -0.0175rem; /* -0.28px */
  }
}

.type-h1-x-small {
  font-family: var(--font-diatype-rounded-bold);
  font-size: 1.5rem; /* 24px */
  line-height: 1.5625rem; /* 25px */
  letter-spacing: -0.03rem; /* -0.48px */

  @media (max-width: 768px) {
    font-size: 1.25rem; /* 20px */
    line-height: 1.05;
    letter-spacing: -0.025rem; /* -0.4px */
  }
}

h2,
.type-h2 {
  font-family: var(--font-diatype-rounded-bold);
  font-size: 1.5rem; /* 24px */
  line-height: 1.5rem; /* 24px */

  @media (max-width: 768px) {
    font-size: 1.25rem; /* 20px */
    line-height: 1.2;
  }
}

h3,
.type-h3 {
  font-family: var(--font-diatype-rounded-bold);
  font-size: 0.75rem; /* 12px */
  line-height: 0.75rem; /* 12px */

  @media (max-width: 768px) {
    font-size: 0.75rem; /* 12px */
    line-height: 1;
    letter-spacing: 0;
  }
}

h4,
.type-h4 {
  font-family: var(--font-gt-standard-mono-light);
  font-weight: 300;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 0.625rem; /* 10px */
    line-height: 1rem; /* 16px */
    letter-spacing: 0;
  }
}

h5,
.type-h5 {
  font-family: var(--font-gt-standard-mono-light);
  font-weight: 300;
  font-size: 0.625rem; /* 10px */
  line-height: 0.625rem; /* 10px */

  @media (max-width: 768px) {
    font-size: 0.625rem; /* 10px */
    line-height: 1;
    letter-spacing: 0;
  }
}

h6,
.type-h6,
.type-tags {
  font-family: var(--font-gt-standard-mono-medium);
  font-weight: 500;
  font-size: 0.625rem; /* 10px */
  line-height: 0.625rem; /* 10px */
  letter-spacing: 0.00625rem; /* 0.1px */

  @media (max-width: 768px) {
    font-size: 0.5625rem; /* 9px */
    line-height: 1;
    letter-spacing: 0.01em; /* 1% */
  }
}

.type-p-x-large {
  font-family: var(--font-gt-standard-mono-light);
  font-weight: 300;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */

  @media (max-width: 768px) {
    font-size: 1rem; /* 16px */
    line-height: 1.4; /* 140% */
    letter-spacing: 0;
  }

  p, div, a {
    font-family: var(--font-gt-standard-mono-light);
    font-weight: 300;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  
    @media (max-width: 768px) {
      font-size: 1rem; /* 16px */
      line-height: 1.4; /* 140% */
      letter-spacing: 0;
    }
  }
}

.type-p-large {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.3125rem; /* 21px */

  @media (max-width: 768px) {
    font-size: 0.875rem; /* 14px */
    line-height: 1.3;
    letter-spacing: 0;
  }

  p {
    font-family: var(--font-gt-standard-mono-regular);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.3125rem; /* 21px */

    @media (max-width: 768px) {
      font-size: 0.875rem; /* 14px */
      line-height: 1.3;
      letter-spacing: 0;
    }
  }
}

p,
.type-p {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */

  @media (max-width: 768px) {
    font-size: 0.8125rem; /* 13px */
    line-height: 1.4; /* 140% */
    letter-spacing: 0;
  }

  p {
    font-family: var(--font-gt-standard-mono-regular);
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  
    @media (max-width: 768px) {
      font-size: 0.8125rem; /* 13px */
      line-height: 1.4; /* 140% */
      letter-spacing: 0;
    }
  }

  li {
    font-family: var(--font-gt-standard-mono-regular);
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  
    @media (max-width: 768px) {
      font-size: 0.8125rem; /* 13px */
      line-height: 1.4; /* 140% */
      letter-spacing: 0;
    }
  }
}

.type-p-small {
  font-family: var(--font-gt-standard-mono-light);
  font-weight: 300;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */

  @media (max-width: 768px) {
    font-size: 0.625rem; /* 10px */
    line-height: 1.3; /* 130% */
    letter-spacing: 0;
  }

  p {
    font-family: var(--font-gt-standard-mono-light);
    font-weight: 300;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  
    @media (max-width: 768px) {
      font-size: 0.625rem; /* 10px */
      line-height: 1.3; /* 130% */
      letter-spacing: 0;
    }
  }
}

a,
button,
div {
  font-size: 16px;
  line-height: normal;
}

.rich-text {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    opacity: 0.5;
  }

  ul, ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    font-family: var(--font-gt-standard-mono-regular);
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  
    @media (max-width: 768px) {
      font-size: 0.8125rem; /* 13px */
      line-height: 1.4; /* 140% */
      letter-spacing: 0;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    border-radius: 1rem;
  }

  blockquote {
    margin: 2rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--color-black);
  }

  @media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1rem;
    }

    img {
      margin: 1.5rem 0;
    }

    blockquote {
      margin: 1.5rem 0;
    }
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 2rem;
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 1rem;
  }
}

.layout-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.performance {
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
}

::placeholder {
  color: currentcolor;
  opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="hidden"] {
  display: none;
}

input,
textarea,
select {
  padding: 0.125rem 0;
  font-size: 16px;
  width: 100%;
  appearance: none;
}

input::placeholder,
textarea::placeholder {
  transition: all 0.3s ease;
}

textarea {
  min-height: 5rem;
}

label {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

iframe {
  max-width: 100%;
  display: block;
}

img {
  display: block;
}

ol,
ul {
  padding-inline-start: 30px;
}

a {
  color: var(--color-black);
  text-decoration: none;
  cursor: pointer;
}

.product-badge {
  background-color: #FFF750;
  padding: 3px 10px;
  border: black solid 1px;
  border-radius: 15px;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 11px;
  z-index: 150;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.shopify-section-group-header-group {
  position: relative;
  z-index: 1000;
  padding: 0 !important;
  mix-blend-mode: darken;

  @media (max-width: 768px) {
    mix-blend-mode: normal;
  }
}

.shopify-section-group-footer-group {
  padding: 0 !important;
}

.shopify-section {
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;

  @media (max-width: 768px) {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
}

/* .shopify-section:last-child {
  padding-bottom: 0;
} */

main .shopify-section:first-child {
  padding-top: calc(var(--logo-height) + 150px);

  @media (max-width: 768px) {
    padding-top: calc(var(--logo-height) + 80px);
  }
}

.primary-button {
  font-size: 1.25rem;
  padding: 1.375rem 2rem 1.3125rem;
  color: var(--color-black);
  background: var(--color-grey-light);
  border-radius: 1.5rem;
  font-family: var(--font-diatype-rounded-bold);
  line-height: 1;
  display: inline-block;
  text-align: center;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    border-radius: 1rem;
    padding: 1.375rem 2rem 1.3125rem;
    font-size: 1rem;
    background: var(--color-yellow);
  }
}

.primary-button--small {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 1rem 1.5rem;

  @media (max-width: 768px) {
    background: var(--color-grey-light);
  }
}

@media (hover: hover) {
  .primary-button:hover {
    background: var(--color-yellow);
  }
}

.primary-button--black {
  background: var(--color-black);
  color: var(--color-white);
}

.primary-button--dark-grey {
  background: var(--color-grey-dark);
  color: var(--color-white);
}

@media (hover: hover) {
  .primary-button--dark-grey:hover {
    background: var(--color-white);
    color: var(--color-grey-dark);
  }
}

@media (hover: hover) {
  .primary-button--black:hover {
    background: var(--color-white);
    color: var(--color-black);
  }
}

.primary-button--highlight {
  background: var(--color-highlight);
  color: var(--color-black);
}

@media (hover: hover) {
  .primary-button--highlight:hover {
    background: var(--color-yellow);
    color: var(--color-black);
  }
}

.primary-button--outline {
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 100px;

  transition: all var(--transition-speed-default) var(--transition-ease);
}

@media (hover: hover) {
  .primary-button--outline:hover {
    background: var(--color-yellow);
    color: var(--color-black);
  }
}

.secondary-button {
  font-size: 1rem;
  padding: 1.125rem 1.75rem 1.0625rem;
  color: var(--color-black);
  background: var(--color-grey-mid);
  border-radius: 1.25rem;
  font-family: var(--font-diatype-rounded-bold);
  line-height: 1;
  display: inline-block;
  text-align: center;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    padding: 1rem 1.5rem 0.9375rem;
    font-size: 0.875rem;
    background: var(--color-yellow);
  }
}

@media (hover: hover) {
  .secondary-button:hover {
    background: var(--color-yellow);
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
  }
}

.hover-blinking {
  transition: all var(--transition-speed-default) var(--transition-ease);

  &:hover {
    animation: blink 250ms step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.in-view-fade {
  opacity: 0;
  transition: all 400ms var(--transition-ease);
  transition-delay: 100ms;

  &.in-view {
    opacity: 1;
  }
}
.rotate-stamp-animation {
  animation: rotate-stamp 35s linear infinite;
}

.rotate-stamp-animation:hover {
  animation-play-state: paused;
}

@keyframes rotate-stamp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-button {
  padding: 0.625rem 1.125rem;
  background: var(--color-grey-light);
  color: var(--color-black);
  border-radius: 50px;
  text-align: center;
  display: inline-block;

  transition: all var(--transition-speed-default) var(--transition-ease);
}

.filter-button:hover {
  background: var(--color-yellow);
  color: var(--color-black);
}

.filter-button--active {
  color: var(--color-yellow);
  background: var(--color-black);
}

.anchor-button {
  padding: 0.625rem 1.125rem;
  background: var(--color-grey-light);
  color: var(--color-black);
  border-radius: 50px;
  display: inline-block;
  text-align: center;

  transition: all var(--transition-speed-default) var(--transition-ease);
}

.anchor-button:hover {
  background: var(--color-yellow);
  color: var(--color-black);
}

.uppercase {
  text-transform: uppercase;
}

.template-404__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: var(--logo-height);
}

