header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  transition: opacity var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.header__logo {
  color: var(--color-black);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  pointer-events: all;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  white-space: pre;
  width: 100%;
  padding: 0 1rem;
  font-family: var(--font-tiny);
  font-variation-settings: "wght" var(--font-weight-header);
  text-transform: uppercase;
  font-size: 17.5vw;
  line-height: 0.6;
  mix-blend-mode: difference;
  color: var(--color-white);

  transition: transform var(--transition-speed-slow) var(--transition-ease);

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
    font-size: 16.5vw;
  }
}

.minimise-header .header__logo {
  transform: translateX(-50%) translateY(-125%);
}

.menu-open .header__logo {
  pointer-events: none;
  z-index: 10;
}

.menu-toggle, .cart-button {
  font-family: var(--font-diatype-rounded-bold);
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.275rem;
  letter-spacing: -0.09rem;
  color: var(--color-black);
  pointer-events: all;
  cursor: pointer;
  position: relative;
  z-index: 50;

  transition: all var(--transition-speed-default) var(--transition-ease);
}

.menu-toggle {
  position: relative;
  z-index: 1000;

  transition: opacity 200ms var(--transition-ease),
              transform 200ms var(--transition-ease);

  @media (max-width: 768px) {
    font-size: 17px;
    background: var(--color-green);
    color: var(--color-black);
    border-radius: 1.5rem;
    line-height: 1;
    padding: 1rem 36px;
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .menu-toggle--hidden {
    transform: translateY(100%);
    opacity: 0;
  }
}

.menu-toggle__number {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    background: var(--color-black);
    color: var(--color-green);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 12px;
    line-height: 1;
    min-width: 24px;
    height: 24px;
  }
}


.menu-toggle:hover, .cart-button:hover {
  opacity: 0.75;

  @media (max-width: 768px) {
    opacity: 1;
  }
}

.menu-open .menu-toggle {
  color: var(--color-white);

  @media (max-width: 768px) {
    color: var(--color-black);
  }
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.02rem;
    gap: 8px;
  }
}

.cart-button--mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.cart-button--desktop {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.menu-open .cart-button {
  color: var(--color-white);
}

.cart-button__bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  border-radius: 1000px;
  height: 68px;
  min-width: 68px;
  padding: 0 8px;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    height: 35px;
    min-width: 35px;
    padding: 0 4px;
  }
}

.menu-open .cart-button__bubble {
  background: var(--color-white);
}

.cart-button__number {
  color: var(--color-white);
  font-size: 3.5rem;
  line-height: 0.5;
  position: relative;
  top: 1px;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 1;
  }
}

.menu-open .cart-button__number {
  color: var(--color-grey-dark);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  pointer-events: none;
  opacity: 0;
  padding: 24px;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    padding: 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }
}

.menu-open .menu-overlay {
  opacity: 1;
  pointer-events: all;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.menu-list__item {
  font-family: var(--font-diatype-rounded-heavy);
  font-weight: 800;
  font-size: 4rem;
  line-height: 3.8rem;
  letter-spacing: -0.04rem;
  color: var(--color-white);

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.02rem;
  }lo
}

.menu-list__item:hover {
  color: var(--color-yellow)
}

.menu-list__item--active {
  opacity: 0.33;
  pointer-events: none;
}

/* Hide header near page bottom */
body.hide-header header {
  opacity: 0;
  pointer-events: none;
}

body.hide-header .menu-toggle,
body.hide-header .cart-button {
  pointer-events: none;
  opacity: 0;
}