.product-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    gap: 4rem;
  }
}

.product-section .layout-grid {
  @media (max-width: 768px) {
    row-gap: 2rem;
  }
}

.product-images-wrapper, .product-content {
  grid-column: span 6;

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.product-images-wrapper {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  min-height: 700px;
  background: var(--color-grey-light);
  border-radius: 1.5rem;
  overflow: hidden;
  position: sticky;
  top: 24px;

  @media (max-width: 768px) {
    min-height: 400px;
    position: relative;
    top: unset;
  }
}

.product-images-wrapper__image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img,
  .product-images-wrapper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-images-wrapper[data-has-foreground-image="true"] {
  .product-images-wrapper__image--foreground {
    img,
    .product-images-wrapper__img {
      object-fit: contain;
      width: 60%;
      height: auto;
    }
  }
}

.product-images-swiper {
  width: 100%;
  height: 100%;
  position: relative;

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
  }

  .product-images-wrapper__slide {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    bottom: 1rem;
    z-index: 10;
  }

  .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }

  .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 1);
  }
}

.product-images-wrapper__badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.product-content {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 1024px) {
    padding: 24px 0;
  }
}

.product-content--tape-digitization {
  padding: 24px;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 0;
  }
}

.product-content__header {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.product-content__vendor {
  opacity: 0.25;
}

.product-content__title {
  
}

.product-content__price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-content__description-wrapper {
  max-width: 600px;
}

.tape-digitization-content__description-wrapper {
  margin-bottom: 2rem;
  text-align: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-form__bottom {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


.product-form__buy-button {
  @media (max-width: 768px) {
    width: 100%;

    * {
      width: 100%;
    }
  }
}

.quantity-input-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--color-grey-light);
  border-radius: 100px;
  padding: 0 24px;

  @media (max-width: 768px) {
    height: 59px;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
  }
}

.quantity-input-wrapper .quantity-number {
  padding: 0;
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40px;

  @media (max-width: 768px) {
    max-width: unset;
    flex: 1;
  }
}

.quantity-input-wrapper .quantity-number::-webkit-outer-spin-button,
.quantity-input-wrapper .quantity-number::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.quantity-input-wrapper .quantity-number[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.quantity-input-wrapper .quantity-btn {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    height: 28px;
    width: 28px;
    background: var(--color-grey-mid);
    border-radius: 100px;
  }
}

.quantity-input-wrapper .quantity-btn:hover {
  opacity: 0.3;
}

.similar-products .layout-grid {
  row-gap: 4rem;

  @media (max-width: 768px) {
    row-gap: 3rem;
  }
}

.similar-products__title {
  margin-bottom: 2rem;
}

.product-film-features__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.product-film-features__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-grey-light);
  border-radius: 100px;
  padding: 6px;
}

.product-film-features__lhs {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.product-film-features__hint-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-grey-mid);
  border-radius: 100px;
  cursor: pointer;

  transition: all var(--transition-speed-default) var(--transition-ease);
}

.product-film-features__hint-icon svg {
  transition: all var(--transition-speed-default) var(--transition-ease);
}

/* Show styling on hover for desktop */
.product-film-features__hint-wrapper:hover .product-film-features__hint-icon,
.product-film-features__hint-wrapper.active .product-film-features__hint-icon {
  background: var(--color-black);
}

.product-film-features__hint-wrapper:hover .product-film-features__hint-icon svg path,
.product-film-features__hint-wrapper.active .product-film-features__hint-icon svg path {
  fill: var(--color-white);
}

.product-film-features__hint-wrapper:hover .product-film-features__hint-value,
.product-film-features__hint-wrapper.active .product-film-features__hint-value {
  opacity: 1;
}

.product-film-features__hint-value {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: calc(100% + 16px);
  transform: translateY(-50%);
  min-width: 140px;
  max-width: 200px;
  padding: 7px 10px;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 8px;
  white-space: pre-line;
  z-index: 2;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    right: unset;
    left: 36px;
  }
}

.product-film-features__hint-value::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid var(--color-black);

  @media (max-width: 768px) {
    right: unset;
    left: -10px;
    border-left: none;
    border-right: 10px solid var(--color-black);
  }
}

.product-film-features__rhs {
  width: 128px;
  height: 24px;
}

.product-film-features__image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  overflow: hidden;
}

.product-film-features__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tape-digitization-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  background: var(--color-grey-light);
  border-radius: 1.5rem;
  width: 100%;
  padding: 32px 24px;

  @media (max-width: 768px) {
    padding: 24px 16px;
  }
}

.tape-digitization-page {
  padding-top: 80px;

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.tape-digitization-form__bottom .product-form__buy-button {
  flex: 1;
}

.tape-digitization-form__bottom .product-form__buy-button button {
  width: 100%;
}

.form-field--digitization {
  width: 100%;
}

.form-field--digitization select {
  background: var(--color-white);
}

.tape-digitization-contact-form__legend {
  text-align: center;
  margin-bottom: 32px;
}

.tape-digitization-form__quantity-input-wrapper {
  background: var(--color-white);
}

.tape-digitization-content__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}

.tape-digitization-images-wrapper__image img {
  object-fit: contain;
}
