#base-price {
  display: none;
}

.opt-price {
  display: none;
}

/* #film-service-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
} */

.send-rolls-title-wrapper {
  margin: 0 auto 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    margin: 0 auto 40px;
  }
}

.send-rolls-title {
  opacity: 0.25;
  text-align: center;
}

.send-rolls-subtitle {
  text-align: center;
}

.rolls-form-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  max-width: 780px;
  position: relative;
}

.rolls-form-cards-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.rolls-form-cards-wrapper fieldset {
  border: 2px solid transparent;
  margin-inline-start: 0;
  margin-inline-end: 0;
  min-inline-size: min-content;
}

.rolls-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--color-grey-light);
  padding: 24px;
  border-radius: 24px;

  @media (max-width: 768px) {
    padding: 24px 8px 16px 8px;
  }
}

.rolls-form-card--error {
  border: 2px solid lightcoral !important;
}

.rolls-form-card__heading {
  text-align: center;
  margin-bottom: 32px;
}

.rolls-form-card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  background: var(--color-white);
  padding: 24px;
  border-radius: 24px;

  @media (max-width: 768px) {
    padding: 24px 16px 16px 16px;
    gap: 32px;
  }
}

.rolls-form-card__inner--addon {
  background: none;
  gap: 8px;

  @media (max-width: 768px) {
    padding: 24px 0 16px 0;
  }
}

.rolls-form-card__inner--content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rolls-form-card__subheading {
  text-align: center;
}

.rolls-form-card__options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.rolls-form-card__options--addon {
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.rolls-form-card .quantity-popover-container {
  max-width: 25rem;
  width: 120px;
}

.rolls-form-card .cart-quantity {
  height: 44px;
  width: 100%;
  justify-content: space-between;
}

.service-groups-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 780px;
  width: 780px;
  margin: 0 auto;

  @media (max-width: 900px) {
    width: 100%;
    max-width: 100%;
  }
}

.rolls-form-card-content {
  background: var(--color-highlight);
  width: 100%;
  padding: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.rolls-form-card-content-inner {
  @media (max-width: 768px) {
    padding-bottom: 16px;
  }
}

.rolls-form-card-content-trigger-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: var(--color-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.25;

  transition: all var(--transition-speed-default) var(--transition-ease);

  @media (max-width: 768px) {
    top: 17px;
  }
}

.rolls-form-card-content-trigger-btn[aria-expanded="true"] {
  transform: rotate(45deg);
}

.rolls-form-card-content-trigger-btn:hover {
  opacity: 1;
}

.rolls-form-card-content-trigger-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 1px;
  background: var(--color-highlight);
  border-radius: 1px;
  transform: translate(-50%, -50%);
}

.rolls-form-card-content-trigger-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 12px;
  background: var(--color-highlight);
  border-radius: 1px;
  transform: translate(-50%, -50%);
}

.rolls-form-card-content--drop-off {
  padding: 0;
  padding-bottom: 24px;
}

.rolls-form-card-content__heading {
  text-align: left;
  padding-right: 40px;
}

.rolls-form-card-content__subheading {
  opacity: 0.5;
  padding-top: 16px;
  text-align: left;
}

.rolls-form-card-content__drop-off-map {
  position: relative;
  z-index: 2;
  padding-top: 24px;
}

.rolls-form-card-content__drop-off-map .drop-off {
  border-radius: 16px;
  overflow: hidden;
}

.rolls-form-card-content-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px;
  padding-top: 24px;

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.rolls-form-card-content-option {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  min-width: calc(50% - 12px);
  max-width: calc(50% - 12px);

  @media (max-width: 768px) {
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }
}

.rolls-form-card-content-option__content {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.rolls-form-card-content-option__label {
  text-align: left;
}

.rolls-form-card-content-option__image {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rolls-form-card-content-option__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rolls-form-card-content-option__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rolls-form-card-content-option__description {
  opacity: 0.5;
}

.rolls-form-card__addon-heading {
  text-align: center;
}

.rolls-form-card__addon-section {
  background: var(--color-white);
  padding: 16px;
  border-radius: 24px;
  width: 100%;
}

.rolls-form-card__addon-option,
.rolls-form-card__addon-heading {
  flex: 1;
}

@media (max-width: 768px) {
  .rolls-form-card__addon-option:first-child {
    order: 2;
    flex: unset;
  }

  .rolls-form-card__addon-option:last-child {
    order: 3;
    flex: unset;
  }

  .rolls-form-card__addon-heading {
    order: 1;
    min-width: 100%;
  }
}

.rolls-form-card__addon-option:last-child {
  text-align: right;
}

.rolls-form-card__addon-option .bubble-option {
  display: inline-flex;
}

.rolls-form-card-content__feature-image {
  margin-bottom: 16px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 24px;
}

.rolls-form-card-content__feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rolls-form-card-content__drop-off-map  {
  width: 100%;
  overflow: hidden;
}

.rolls-form-card-content__drop-off-map .drop-off-map__map {
  height: 350px !important;
  min-height: 350px !important;

  @media (max-width: 900px) {
    height: 350px !important;
    min-height: 350px !important;
  }
}

.rolls-form-card-content__drop-off-map .drop-off-map__inner {
  border-radius: 0;
}

.rolls-form-card-content__columns {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}

.rolls-form-card-content--mail-in {
  padding: 24px 24px 0 24px;
}

.rolls-form-card-content .faq-card-or-divider::before {
  background: var(--color-highlight);
}

.rolls-form-card-content__column-one,
.rolls-form-card-content__column-two {
  flex: 1;
}

.send-rolls-form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.send-rolls-form-submit button {
  width: 100%;
  color: var(--color-yellow);
  border: 2px solid var(--color-black);
}

.send-rolls-form-submit button:hover {
  background: var(--color-yellow);
  color: var(--color-black);
  border-color: var(--color-black);
}

.order-summary {
  background: var(--color-yellow);
  border-radius: 24px;
  padding: 24px;
  min-width: 350px;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.order-summary__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.order-summary__title {
  text-align: left;
  white-space: nowrap;
}

.order-summary__total {
  display: block;
  text-align: right;
  font-family: var(--font-gt-standard-mono-regular);
  width: 100%;
  color: var(--color-black);
}

.order-summary__toggle {
  display: block;
  margin: 0 auto;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 2px;
}

.order-summary__toggle span:first-child {
  text-decoration: underline;
}

.order-summary__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 0;
}

.order-summary__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 4px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.order-summary__row:last-child {
  border-bottom: none;
}
.order-summary__label {
  margin: 0;
}

.order-summary__value-wrap {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 8px;
  margin: 0;
}

.order-summary__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-summary__price {
  opacity: 0.5;
}

.order-summary__details {
  margin-bottom: 24px;
}
