.send-rolls-content {
  position: relative;
  z-index: 2;
}

.send-rolls-content__heading {
  grid-column: 3 / -3;
  max-width: 1200px;
  margin: 0 auto 4rem;

  @media (max-width: 1024px) {
    grid-column: 2 / -2;
  }

  @media (max-width: 768px) {
    margin: 0 auto 2rem;
    grid-column: 1 / -1;
  }
}

.send-rolls-content__richtext {
  grid-column: 4 / -4;
  max-width: 840px;
  margin: 0 auto 4rem;

  @media (max-width: 1024px) {
    grid-column: 3 / -3;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.send-rolls-content__image-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20vw;
  height: auto;

  @media (max-width: 768px) {
    top: -50px;
    right: 0;
    left: unset;
    width: 40vw;
  }
}

.send-rolls-content__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.send-rolls-content__button-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.primary-button {
  @media (max-width: 480px) {
    width: 100%;
  }
}