
.services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;

  @media (max-width: 768px) {
    margin-bottom: 4rem;
  }
}

.services__heading {
  text-align: center;
}

.services-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    gap: 0.125rem;
    row-gap: 0.25rem;
  }
}