
.services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;

  @media (max-width: 768px) {
    margin-bottom: 4rem;
  }
}

.services__heading {
  text-align: center;
}

.services-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  max-width: 60rem;

  @media (max-width: 768px) {
    gap: 0.125rem;
    row-gap: 0.25rem;
  }
}

.services-intro__subheading {
  grid-column: 3 / -3;
  margin-bottom: 4rem;

  @media (max-width: 1024px) {
    grid-column: 2 / -2;
    margin-bottom: 2.5rem;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.services-intro__paragraph-1 {
  grid-column: 4 / -4;
  margin-bottom: 9.375rem;

  @media (max-width: 1024px) {
    grid-column: 3 / -3;
    margin-bottom: 5rem;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.services-intro__image-wrapper {
  grid-column: 3 / -3;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
  max-height: 43.75rem;

  @media (max-width: 1024px) {
    grid-column: 2 / -2;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
    border-radius: 1rem;
  }

  @media (max-width: 480px) {
    max-height: 18.75rem;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.service-card {
  position: relative;
}

.service-card::before {
  content: '';
  display: block;
  height: 120px;
  margin-top: -120px;
  visibility: hidden;
}

.service-card .layout-grid {
  row-gap: 4rem;

  @media (max-width: 768px) {
    row-gap: 2.5rem;
  }
}

.service-card__content {
  grid-column: 4 / -4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (max-width: 1024px) {
    grid-column: 3 / -3;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.service-card__heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.service-card__heading {
  text-align: center;
  width: 100%;
}

.service-card__badge {
  font-family: var(--font-gt-standard-mono-regular);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: var(--color-black);
  background: var(--color-green);
  padding: 0.3125rem 0.625rem;
  border-radius: 3.125rem;
}

.service-card__paragraph {
  text-align: left;
  width: 100%;
}

.service-card__notes {
  width: 100%;

  ul {
    padding-left: 2rem;
  }

  li {
    list-style-type: disc;
  }
}

.service-card__button-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    * {
      width: 100%;
    }
  }
}

.service-card__image-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35vw;
  height: auto;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.service-card__image-wrapper--left {
  left: -10%;
}

.service-card__image-wrapper--right {
  right: -10%;
}

.service-card__table-wrapper {
  grid-column: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (max-width: 1024px) {
    grid-column: 1 / -1;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.service-card__table-desktop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    display: none;
  }
}

.service-card__table-mobile {
  width: 100%;
  height: auto;
  display: none;

  @media (max-width: 480px) {
    display: block;
  }
}

.service-card__table-caption {
  text-align: center;
  width: 100%;
  opacity: 0.5;
}