{{ 'events.css' | asset_url | stylesheet_tag }}

<section class="event-wrapper">
  <div class="page-split">
    <div class="event-image-wrapper">
      {% render 'image', class: 'event-image', image: product.featured_image %}
    </div>
    <div class="event-info-wrapper">
      <h2 class="event-title">{{ product.title }}</h2>
      <div class="event-description">
        {{ product.description }}
      </div>
      {% comment %} Add checks to these divs if there is information, then render {% endcomment %}
      <div class="event-extra-info">
        <p class="event-subtitle">Where</p>
        <p class="event-text">add metafield tags with data here</p>
      </div>
      <div class="event-extra-info">
        <p class="event-subtitle">When</p>
        <p class="event-text">add metafield tags with data here</p>
      </div>
      <div class="event-extra-info">
        <p class="event-subtitle">Links</p>
        <p class="event-text">add metafield tags with data here, anchor tags</p>
      </div>
      <div class="event-ctas">
        <div class="cta-button ticket-button">
          <p class="event-text">metafield text for button, also an anchor tag</p>
        </div>
        <div class="cta-button directions-button">
          <p class="event-text">metafield text for button, also an anchor tag</p>
        </div>
      </div>
    </div>
  </div>
</section>
